<div class="panel panel-primary">
  <div class="panel-heading">Listado de clientes</div>
  <div class="panel-body">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Correo Electrónico</th>
          <th>Creado en</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.name }}</td>
          <td>{{ cliente.surname }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.createdAt }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>